@page
@model IndexModel
@{
  ViewData["Title"] = "wildsebastian.eu - Home";
}

<div class="pr-4 pl-4">
  <h2 class="text-2xl font-semibold">About me</h2>
  <p class="mt-2">
    I am a software developer based in Europe. I enjoy working with
    statically typed functional programming languages.
  </p>
</div>
<div class="pr-4 pl-4 mt-4">
  <div class="flex mt-2">
    <a href="https://github.com/wildsebastian">
      <i class="fab fa-github fa-lg m-2"></i>
    </a>
    <a href="https://gitlab.com/wildsebastian">
      <i class="fab fa-gitlab fa-lg text-yellow-600 m-2"></i>
    </a>
    <a href="https://twitter.com/wildsebastian">
      <i class="fab fa-twitter fa-lg text-blue-500 m-2"></i>
    </a>
    <a href="mailto:me@wildsebastian.eu">
      <i class="fas fa-envelope fa-lg m-2"></i>
    </a>
  </div>
</div>
