@page
@model Website.Areas.Admin.Pages.Blog.Edit
@{
  ViewData["Title"] = "Blog - Edit a post";
}

<form method="post">
  <div class="space-y-12">
    <div class="pb-12">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">@ViewData["Title"]</h1>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <label for="title" asp-for="BlogPost.Title" class="block text-sm/6 font-medium text-gray-900"></label>
          <div class="mt-2">
            <div
              class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
              <input type="text" id="title" asp-for="BlogPost.Title"
                     class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6">
            </div>
          </div>
        </div>


        <div class="sm:col-span-4">
          <label for="slug" asp-for="BlogPost.Slug" class="block text-sm/6 font-medium text-gray-900"></label>
          <div class="mt-2">
            <div
              class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
              <input type="text" id="slug" asp-for="BlogPost.Slug"
                     class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6">
            </div>
          </div>
        </div>

        <div class="sm:col-span-4">
          <label for="slug" asp-for="BlogPost.AuthorId" class="block text-sm/6 font-medium text-gray-900"></label>
          <div class="mt-2">
            <div class="mt-2 grid grid-cols-1">
              <select id="author" asp-for="BlogPost.AuthorId" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                @foreach (var author in Model.Authors)
                {
                  <option value="@author.Id">@author.FirstName @author.LastName</option>
                }
              </select>
              <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>
            </div>
          </div>
        </div>

        <div class="col-span-full">
          <label for="abstract" asp-for="BlogPost.Abstract" class="block text-sm/6 font-medium text-gray-900"></label>
          <div class="mt-2">
            <textarea id="abstract" asp-for="BlogPost.Abstract" rows="3"
                      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"></textarea>
          </div>
        </div>

        <div class="col-span-full">
          <label for="content" asp-for="BlogPost.Content" class="block text-sm/6 font-medium text-gray-900"></label>
          <div class="mt-2">
            <textarea id="content" asp-for="BlogPost.Content" rows="30"
                      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"></textarea>
          </div>
        </div>

        <div class="col-span-full">
          <label for="published_at" asp-for="BlogPost.PublishedAt" class="block text-sm/6 font-medium text-gray-900"></label>
          <div class="mt-2">
            <input
              type="datetime-local"
              id="published_at"
              asp-for="BlogPost.PublishedAt"
              asp-format="{0:yyyy-MM-ddTHH:mm}"
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
          </div>
        </div>
      </div>
      <input type="hidden" id="id" asp-for="BlogPost.Id" />
      <input type="hidden" id="created_at" asp-for="BlogPost.CreatedAt" />
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <a asp-page="Index" class="text-sm/6 font-semibold text-gray-900">Cancel</a>
    <button type="submit"
            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
      Save
    </button>
  </div>
</form>
